* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

:root {
    --Pink: #ff52bf;

    /* secondary colors */
    --Pale-Cyan: #ebfbff;
    --Dark-Cyan: #00252e;
    --Grayish-Blue: #808d99;
    --light-black: rgba(0, 0, 0, .9);
    --box-shadow-1: 0 3px 6px rgba(0, 0, 0, .2);
    --white: #fff;
    --light-white: rgba(255, 255, 255, .7);


    --margin-top-medium: 60px;
    --margin-bottom-medium: 40px;
    --margin-bottom-big: 80px;
}

.header {
    height: 150vh;
    width: 100%;
    padding: 15px;
    background:  url("images/bg-hero-mobile.svg"), var(--Pale-Cyan);
}

.navigation {
    margin-top: 10px;
    margin-bottom: var(--margin-bottom-big);
    display: flex;
    justify-content: space-between;
}

.header__logo {
    height: 1rem;
}

.btn--white {
    padding: 6px;
    width: 5rem;
    border-style: none;
    background-color: var(--white);
    border-radius: 30px;
    text-transform: capitalize;
    box-shadow: var(--box-shadow-1);
}

.header__text-box {
    padding: 10px;
    text-align: center;
}

.header__text--main {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: var(--margin-bottom-medium);
    
}

.header--sub {
    font-size: 1.1rem;
    color: var(--light-black);
    margin-bottom: var(--margin-bottom-medium);
}

.btn--pink {
    width: 80%;
    padding: 10px;
    background-color: var(--Pink);
    border: none;
    text-transform: capitalize;
    border-style: none;
    color: var(--Pale-Cyan);
    border-radius: 30px;
    margin-bottom: 60px;
    box-shadow: var(--box-shadow-1);
}

.header__image {
    width: 100%;
}

.main {
    padding: 10px;
    text-align: center;
    
}

.section__benefits {
    margin: 0 30px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .2), -2px -2px 15px rgba(0, 0, 0, .2);
    margin-top: var(--margin-top-medium);
    padding: 40px;
}

.section__benefits:last-child {
    margin-bottom: var(--margin-top-medium);
}

.section__image {
    width: 100%;
    margin-bottom: var(--margin-bottom-medium);
}

.text__primary {
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.text__secondary {
    font-size: .7rem;
    font-weight: 400;
    color: var(--Grayish-Blue);
}

.footer {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.footer__secondary {
    position: absolute;
    width: 90%;
    height: 20vh;
    padding: 20px;
    border-radius: 15px;
    z-index: 200;
    margin: 0 18px;
    box-shadow: 0 -3px 15px rgba(0, 0, 0, .2);
    background-color: var(--white);
}

.secondary__text--primary {
    font-size: .8rem;
    text-align: center;   
}

.footer__btn--pink {
    margin: 0 25px;
}

.footer__primary {
    height: 100vh;
    padding: 150px 10px 20px 10px;
    width: 100%;
    position: absolute;
    top: 10%;
    color: var(--light-white);
    background-color: var(--Dark-Cyan);
}

.contact__info {
    margin-top: 40px;
    display: flex;
}

.icons {
    height: 1rem;
}

.contact__info__text {
    margin-left: 20px;
}

.more-info {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.more-info__text {
    text-transform: capitalize;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--light-white);
}

.more-info__text:last-child {
    margin-bottom: 40px;
}

.social-media {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.fa-brands {
    margin-left: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 10px;
}

.copyright__text {
    font-size: .7rem;
    text-align: center;
}

.footer__logo{
    filter: brightness(0) saturate(0) invert(100%) sepia(0%) saturate(2%) hue-rotate(301deg) brightness(104%) contrast(101%);
}

@media (min-width: 900px) {
    .header {
        padding: 40px;
        height: 120vh;
        background:  url("images/bg-hero-desktop.svg"), var(--Pale-Cyan);
    }
    
    .header__content {
        display: flex;
        justify-content: space-between;
    }

    .header__image {
        width: 55%;
        
    }   

    .header__text-box {
        width: 40%;
        padding-right: 5px;
        text-align: left;
        margin-top: 60px;
    }

    span {
        display: block;
        font-size: 1.9rem;
    }

    .header__text--main {
        font-size: 2rem;
    }

    .btn--pink {
        width: 50%;
    }

    .section__benefits {
        display: flex;
    }

    .section__image {
        width: 50%;
        margin-bottom: 0;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .section__benefits-alternate {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .benefits__text-box {
        margin: auto 0;
        text-align: left;
    }

    .text__primary {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .benefits__text-box__right {
        margin-left: 90px;
    }

    .text__secondary {
        font-size: 1rem;
        width: 70%;
    }

    .text__secondary__right {
        width: 87%;
        font-size: 1rem;
    }

    .footer__secondary {
        height: 22vh;
        width: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .secondary__text--primary {
        margin-bottom: 20px;
    }

    .footer__btn--pink {
        width: 30%;
        position: absolute;
        left: 40%;
        transform: translate(-40%);
    }

    .footer__primary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90vh;
        padding: 0 160px 0 60px;
        background-color: var(--Dark-Cyan);
    }

    .lorem {
        width: 130%;
    }

    .more-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin-left: 150px;
    }

    .more-info__text:nth-of-type(2) {
        grid-row: 2/3;
    }

    .more-info__text:nth-of-type(3) {
        grid-row: 3/4;
    }

    .copyright {
        position: absolute;
        top: 90%;
        left: 70%;
        font-size: 1rem;
    }

    .social-media {
        width: 100%;
    }
}
